page-home {

	.boton-Front{
	  display:inline-block;
	  padding-left:2em;
  	  padding-right:2em;
	}
	.container-front{
	  position: absolute;
	  bottom: 50px;
	  justify-content:  center;
	  display:  flex;
	  width: 90%;
	}
}
