.toolbar-background-md{
		background-color:#e21d1d;
	}
.toolbar-title-md{
	color:#fff;
}
.content{
	background:url(../assets/imgs/fondo.jpg) no-repeat center;
	background-size:cover;
}
/*
display:inline-block;
  padding:1.5em;

 */